/*
 * CS3099 Group A3
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.container {
  height: 100%;
}

.logo {
  width: 100%;
}

.logo-text {
  color: #3f3f40;
  font-family: 'Roboto Mono', monospace;
  font-size: 4em;
  text-align: center;
}
