/*
 * CS3099 Group A3
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

$height: 2.5em;

.searchContainer {
  display: flex;
  height: $height;
  justify-content: center;
  width: 100%;
}

.logo {
  height: $height;
}

.logoText {
  font-family: 'Roboto Mono', monospace;
  font-size: $height * 0.8;
}
